<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="Vinelist is an easy way to make vine playlists and vine compilation videos. By Rutgers students Robert Fidler and Indraneel Purohit.">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <link rel="stylesheet" href="css/normalize.min.css">
        <link rel="stylesheet" href="css/main.css">

        <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <div class="header-container">
            <header class="wrapper clearfix">
	    <h1 class="title">
		<a id="text-logo" href="http://vinelist.co" style="text-decoration:none; color:#FFFFFF">Vinelist</a>
		<h1 class="logo"><a href="http://vinelist.co" style="text-decoration:none; color:#FFFFFF"><img src="favicon.ico" />&nbsp</a></h1>
	    </h1>
            </header>
        </div>

        <div class="main-container">
            <div class="main wrapper clearfix">

		<div class="create-playlist" ng-controller="VineCtrl">
		    <input id="create-playlist-name" ng-model="playlistName" type="text" placeholder="Playlist Name" required></input>
		    <form ng-submit="addVine()">
			<input type="url" ng-model="vineLink" size="30" placeholder="Enter Vine Link" required></input>
			<span class="error" ng-show="myForm.input.$error.required">Required!</span>
			<span class="error" ng-show="myForm.input.$error.url">Not valid url!</span>
			<input class="btn-primary" type="submit" value="+">
		    </form>
		    <ul class="vines-to-add">
			<li ng-repeat="vine in vines">
			    <span class="vine-list-item">{{vine.text}}</span>
			    <input type="button" value="-" ng-click="toggle(vine)" >
			</li>
		    </ul>
		    <button class="save-button" ng-click="save()">Save Playlist</a>
		</div>

            </div> <!-- #main -->
        </div> <!-- #main-container -->

        <div class="footer-container">
            <footer class="wrapper">
                <h3><a href="http://fidler.io" style="text-decoration: none; color:#FFFFFF">Rob</a> + <a href="http://indraneelpurohit.com" style="text-decoration: none; color:#FFFFFF">Indraneel</a></h3>
            </footer>
        </div>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>	
	<script src="js/func.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')</script>


        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
